{% extends "layout.html" %}


{% block body %}
    <h3>Hakkımızda</h3>
    <hr>

    <p>
        Herkese Merhaba ben Emre Ömer İşsever. Namık Kemal Üniversitesi Elektronik ve Haberleşme Mühendisliği mezunuyum. Oluşturmuş olduğum "Emre's blog" u adlı bloğumda siz ziyaretçiler için Yazılım, robotik, elektronik, yapay zeka, dijital dönüşüm, dijital pazarlama, proje yönetimi, veri bilimi, büyük veri ile ilgili sizlere yararlı olacak güncel bilgiler ve projeler paylaşmak için bu blog sayfasını açtım ve yakında sizler için youtube kanalımda da güzel içerikler paylaşmaya devam edeceğim. Yazılımı sizlere sevdirmek ve aşılamak için elimden gelenin fazlasını yapmaya hem kendimi hem sizleri güncelleyerek sizlere yardımcı olmaktan gurur duyarım. 
    </p>
{% endblock body %}